@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

img {
  display: inline;
  width: 100%;
}
a {
  display: inline;
  text-decoration: none;
  color: #766faf;
}

li {
  list-style: none;
}

p {
  line-height: 1.5;
}

.bold {
  font-weight: 500;
}

#main-header {
  background-color: #766faf;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
  padding: 0.5rem 1rem;
  height: 80px;
  grid-area: header;
}

.right-head-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.leftHead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightHead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  overflow: hidden;
}

h1 {
  font-size: 1.5rem;
  font-weight: 300;
}
h1 span {
  font-weight: 400;
}

.bellIcon {
  width: 40px;
  position: relative;
  cursor: pointer;
}

svg {
  fill: #fff;
}

.notify {
  height: 6px;
  width: 6px;
  color: #53be53;
  background-color: #7de97d;
  border-radius: 50%;
  position: absolute;
  top: -2px;
  right: -2px;
}

.line {
  display: inline;
  border-right: 1px solid #929292;
  height: 50px;
  width: 2px;
  /* margin: 0;
  padding: 0;
  position: relative;
  left: 0; */
}

.headerImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

#studentName {
  font-size: 1rem;
  font-weight: 300;
}

#main-nav {
  background-color: #4b4672;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  grid-area: nav;
}

#main-nav a {
  width: 35px;
  justify-self: center;
  cursor: pointer;
}

#main {
  grid-area: main;
}

#dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1rem;
  padding-left: 2rem;
}

#dashboard h2 {
  font-weight: 500;
  overflow: hidden;
}

#dash {
  background-color: #f0f0f0;
  border: 1px solid #bebebe;
  padding: 1rem 0;
  border-right: none;
  border-top: none;
}

#alert {
  background-color: #766faf;
  color: #fff;
  border-radius: 5px;
  margin: 1.5rem 0;
  padding: 1rem 0.8rem;
  grid-area: alert;
}

#alert-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#alert-message h5 {
  font-size: 1.1rem;
  font-weight: 400;
}

#alert-message span {
  font-weight: 500;
}

#alert-message i {
  cursor: pointer;
}

#traffic {
  max-width: 95%;
  margin: 0 auto;
  grid-area: traffic;
}

#daily-traffic {
  grid-area: daily;
}

#mobile-users {
  grid-area: mobile;
}

.section-header h3 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2;
}

canvas {
  width: 100%;
  max-height: 250px;
}

.traffic-ul {
  display: flex;
  padding-left: 0.5rem;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

.traffic-li {
  font-size: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.traffic-li.highlight {
  background-color: #70b470;
  color: #fff;
  padding: 0.5rem;
  border-radius: 20px;
}

.item-section {
  border-bottom: 1px solid #bebebe;
  padding: 1.5rem 0;
}

#social {
  grid-area: social;
}

.social-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: #f0f0f0;
  height: 150px;
  padding: 1rem;
  border: 1px solid #bebebe;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.social-container .social-svg {
  display: flex;
  height: 100px;
  width: 100px;
  background-color: #766faf;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social-container .social-svg svg {
  fill: #fff;
  width: 50px;
}

.social-info p {
  font-size: 1.7rem;
  color: #766faf;
}

.social-info p:nth-child(2) {
  font-size: 3.5rem;
  color: #6d6d6d;
  font-weight: 300;
}

.members-activity-container {
  grid-area: member-activity;
}

#new-members {
  grid-area: new;
}

#recent-activity {
  grid-area: recent;
}

#new-members,
#recent-activity {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.member-container {
  text-align: center;
}

.member-image {
  width: 100px;
  border-radius: 50%;
}

.member-info {
  margin-bottom: 0.5rem;
}

#message-user {
  width: 90%;
  margin: auto;
  grid-area: message;
}

#message-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#userInput,
#message-area,
.form-button {
  width: 100%;
}

#userInput,
#message-area {
  font-size: 1.3rem;
  background-color: #f0f0f0;
  border: 1px solid #bebebe;
  padding: 1rem;
  border-radius: 5px;
}

#userInput:focus,
#message-area:focus {
  outline: none;
  border: 2px solid #818181;
}

#userInput {
  height: 4rem;
}

#message-area {
  height: 12rem;
}

#form-button {
  background-color: #766faf;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #bebebe;
  padding: 1rem;
  border-radius: 5px;
}

.toggle-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

#settings {
  grid-area: settings;
}

/* Timezone */
#timezone {
  width: 100%;
  font-size: 1.2rem;
  color: #464646;
  padding: 1rem;
  border-radius: 5px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat right #ddd;
  -webkit-appearance: none;
  appearance: none;
  background-position-x: 95%;
}

#timezone:focus {
  background-color: #fff;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 60px 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }

  .container {
    max-width: 95%;
  }

  #main-nav {
    height: 100%;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #dashboard {
    grid-template-columns: 1fr 9fr;
    align-items: center;
    gap: 2rem;
    padding-left: 2rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "alert alert"
      "traffic traffic"
      "daily mobile"
      "social social"
      "member-activity member-activity"
      "message message"
      "settings settings";
  }

  canvas {
    max-height: 200px;
  }

  #traffic-chart {
    max-height: 350px;
  }

  .social-flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .social-container {
    height: 125px;
    justify-content: center;
  }

  .social-container .social-svg {
    height: 50px;
    width: 50px;
  }

  .social-container .social-svg svg {
    width: 25px;
  }

  .social-info p {
    font-size: 1.3rem;
  }

  .social-info p:nth-child(2) {
    font-size: 2.2rem;
  }

  .toggle-container {
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "alert alert"
      "traffic traffic"
      "daily mobile"
      "social social"
      "member-activity member-activity"
      "message settings";
  }

  canvas {
    max-height: 250px;
  }

  #traffic-chart {
    max-height: 350px;
  }

  .members-activity-container {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto;
    align-items: center;
    grid-template-areas: "new recent";
  }

  .member-container {
    justify-self: center;
  }

  /*  */
  .social-container .social-svg {
    height: 70px;
    width: 70px;
  }

  .social-container .social-svg svg {
    width: 35px;
  }

  .social-info p {
    font-size: 1.4rem;
  }

  .social-info p:nth-child(2) {
    font-size: 2.3rem;
  }
}
