@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

/* Modal start */

/* The Modal (background) */

#myBtn {
  display: none;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(118, 111, 175, 0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fff;
  color: #333;
  font-size: 1.6rem;
  margin: 15% auto;
  padding: 1rem;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
}

/* The Close Button */
.close {
  color: #766faf;
  float: right;
  font-size: 2rem;
  font-weight: bold;
  overflow: hidden;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* Modal End */

.container {
  width: 90%;
  margin: 0 auto;
}

img {
  display: inline;
  width: 100%;
}
a {
  display: inline;
  text-decoration: none;
  color: #4b4672;
}

li {
  list-style: none;
}

p {
  line-height: 1.5;
}

.btn {
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #bebebe;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.bold {
  font-weight: 500;
}

#main-header {
  background-color: #766faf;
  color: #fff;
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
  padding: 0.5rem 1rem;
  height: 80px;
  grid-area: header;
  z-index: 10;
}

.right-head-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.leftHead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rightHead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  overflow: hidden;
}

h1 {
  font-size: 1.5rem;
  font-weight: 300;
}
h1 span {
  font-weight: 400;
}

.bellIcon {
  width: 50px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

svg {
  width: 30px;
  margin-top: 10px;
  fill: #fff;
}

.bellIcon:hover svg {
  animation: ring 4s ease-in-out infinite;
}

.notify {
  height: 10px;
  width: 10px;
  color: #53be53;
  background-color: #7de97d;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  right: 2px;
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }

  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}

.line {
  display: inline;
  border-right: 1px solid #929292;
  height: 50px;
  width: 2px;
}

.headerImg {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  transition: transform 0.5s;
}

#studentName {
  font-size: 1rem;
  font-weight: 300;
}

#main-nav {
  background-color: #4b4672;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  grid-area: nav;
}

#main-nav a {
  width: 35px;
  justify-self: center;
  cursor: pointer;
  overflow: hidden;
}

#main {
  grid-area: main;
}

#dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
}

#dashboard h2 {
  font-weight: 500;
  overflow: hidden;
}

#dash {
  background-color: #f0f0f0;
  border: 1px solid #bebebe;
  padding: 1rem 0;
  border-right: none;
  border-top: none;
}

#alert {
  background-color: #766faf;
  color: #fff;
  border-radius: 5px;
  margin: 1.5rem 0;
  padding: 1rem 0.8rem;
  grid-area: alert;
}

#alert-message {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#alert-message h5 {
  font-size: 1.1rem;
  font-weight: 400;
}

#alert-message span {
  font-weight: 500;
}

#alert-message i {
  cursor: pointer;
}

#traffic {
  max-width: 95%;
  margin: 0 auto;
  grid-area: traffic;
}

#daily-traffic {
  grid-area: daily;
}

#mobile-users {
  grid-area: mobile;
}

.section-header h3 {
  font-size: 1.2rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2;
}

.traffic-ul {
  display: flex;
  /* padding-left: 0.1rem; */
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.traffic-li {
  font-size: 1.2rem;
  letter-spacing: 1px;
  cursor: pointer;
}

.traffic-li.highlight {
  background-color: #70b470;
  color: #fff;
  padding: 0.5rem;
  border-radius: 20px;
}

.chart-container {
  width: 80vw;
}

.item-section {
  border-bottom: 1px solid #bebebe;
  padding: 1.5rem 0;
  margin: 0;
}

#social {
  grid-area: social;
}

.social-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background-color: #f0f0f0;
  height: 150px;
  padding: 1rem;
  border: 1px solid #bebebe;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.social-container .social-svg {
  display: flex;
  height: 100px;
  width: 100px;
  background-color: #766faf;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.social-container .social-svg svg {
  fill: #fff;
  width: 50px;
  margin: auto;
}

.social-info p {
  font-size: 1.7rem;
  color: #766faf;
}

.social-info p:nth-child(2) {
  font-size: 3.5rem;
  color: #6d6d6d;
  font-weight: 300;
}

.members-activity-container {
  grid-area: member-activity;
}

#new-members {
  grid-area: new;
}

#recent-activity {
  grid-area: recent;
}

#new-members,
#recent-activity {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.member-container {
  text-align: center;
}

.member-image {
  width: 100px;
  border-radius: 50%;
}

.member-info {
  margin-bottom: 0.5rem;
}

#message-user {
  width: 95%;
  margin: auto;
  grid-area: message;
}

#message-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
  overflow: visible;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  overflow: visible;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  overflow: visible;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#userInput,
#message-area,
.form-button {
  width: 100%;
}

#userInput,
#message-area {
  font-size: 1.3rem;
  background-color: #f0f0f0;
  border: 1px solid #bebebe;
  padding: 1rem;
  border-radius: 5px;
}

#userInput:focus,
#message-area:focus {
  outline: none;
  border: 2px solid #818181;
}

#userInput {
  height: 4rem;
}

#message-area {
  height: 12rem;
}

#form-button {
  background-color: #766faf;
}

.toggle-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin-bottom: 2rem;
}

.switch-light span {
  font-size: 1.2rem;
}

#settings {
  grid-area: settings;
}

/* Timezone */
#timezone {
  width: 100%;
  font-size: 1.2rem;
  color: #464646;
  padding: 1rem;
  border-radius: 5px;
  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat right #ddd;
  -webkit-appearance: none;
  appearance: none;
  background-position-x: 95%;
}

#timezone:focus {
  background-color: #fff;
}

.settings-btn {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-primary,
.btn-disabled {
  width: 100%;
  max-width: 425px;
}

.btn-primary {
  background-color: #766faf;
}

.btn-disabled {
  background-color: #959595;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 60px 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }

  .container {
    max-width: 95%;
  }

  #main-nav {
    height: 100%;
    width: 60px;
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    position: fixed;
    z-index: 1;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #dashboard {
    grid-template-columns: 2fr 8fr;
    align-items: center;
    gap: 2rem;
    padding-left: 2rem;
  }

  .web-traffic-grid-container {
    grid-area: web-traffic;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    grid-template-areas:
      "alert alert"
      "web-traffic web-traffic"
      "social social"
      "member-activity member-activity"
      "message message"
      "settings settings";
  }

  .web-traffic-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "traffic traffic"
      "daily mobile";
  }

  #daily-traffic {
    border-right: 1px solid #818181;
  }

  #mobile-users .section-header h3 {
    margin-right: 1rem;
  }

  #mobile-users {
    padding-left: 1rem;
  }

  #traffic .chart-container {
    width: 80vw;
  }

  #daily-traffic .chart-container,
  #mobile-users .chart-container {
    width: 40vw;
  }

  .social-flex-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }

  .social-container {
    height: 125px;
    justify-content: center;
  }

  .social-container .social-svg {
    height: 50px;
    width: 50px;
  }

  .social-container .social-svg svg {
    width: 25px;
  }

  .social-info p {
    font-size: 1.3rem;
  }

  .social-info p:nth-child(2) {
    font-size: 2.2rem;
  }

  .member-container {
    display: flex;
    text-align: left;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
  }

  .member-container img {
    min-width: 100px;
  }

  .date {
    margin-left: auto;
    padding-right: 1rem;
  }

  .greater {
    color: #766faf;
    padding-right: 1rem;
    font-size: 1.6rem;
    margin-left: auto;
    cursor: pointer;
  }

  .toggle-container {
    width: 50%;
  }

  .switch-ios.switch-light > span {
    width: 60%;
  }

  #message-user {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .container {
    display: grid;
    max-width: 2000px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "alert alert"
      "web-traffic web-traffic"
      "social social"
      "member-activity member-activity"
      "message settings";
  }

  #dashboard {
    gap: 1rem;
    padding-left: 3rem;
  }

  #traffic {
    border-bottom: none;
  }

  #daily-traffic,
  #mobile-users {
    border-top: 1px solid #6d6d6d;
  }

  .members-activity-container {
    display: grid;
    grid-template-columns: 50%;
    grid-template-rows: auto;
    align-items: flex-start;
    grid-template-areas: "new recent";
  }

  .member-container {
    border: 1px solid #6d6d6d;
    height: 250px;
    border-bottom: none;
  }

  .member-container:last-child {
    border-bottom: 1px solid #6d6d6d;
  }

  #new-members .member-container {
    border-left: none;
  }

  #recent-activity .member-container {
    border-left: none;
    border-right: none;
  }

  .social-container .social-svg {
    height: 70px;
    width: 70px;
  }

  .social-container .social-svg svg {
    width: 35px;
  }

  .social-info p {
    font-size: 1.4rem;
  }

  .social-info p:nth-child(2) {
    font-size: 2.3rem;
  }

  #message-user {
    width: 100%;
    padding-right: 1rem;
    margin: 0;
    border-right: 1px solid #6d6d6d;
  }

  .modal-content {
    width: 60%;
  }

  #message-user.item-section,
  #settings.item-section {
    border-bottom: none;
  }

  #settings {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding-left: 1rem;
  }

  .toggle-container {
    width: 75%;
  }

  .switch-ios.switch-light > span {
    width: 50%;
  }
}
